/* resets */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Kalam', cursive;
	font-size: 16px;
	line-height: 1.5em;
}

body {
	color: #515151;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a {
	text-decoration: none;
}

a strong {
	color: inherit;
}

a:hover,
a:focus {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

code,
pre {
	font-family: Menlo, Monaco, "Courier New", monospace;
}

pre code {
	padding: 0;
	font-size: 100%;
	color: inherit;
	background-color: transparent;
}

/* defter styles */

body {
	background-image: url('/static/linedpaper.png');
}

a {
	color: #4477aa;
}

input, select, textarea {
	outline: none;
	font-family: 'Kalam', cursive;
	font-size: 16px;
}

div.wrapper {
	width: 100%;
	position: relative;
	height: 100%;
	box-sizing: border-box;
	padding-top: 39px;
	padding-left: 50px;
}

div#corner {
	background-image: url('/static/corner.png');
	position: absolute;
	width: 64px;
	height: 64px;
	right: 0px;
	top: 0px;
}

div.top-links {
	border-bottom: 2px dotted #dd4444;
	margin-right: 100px;
	margin-bottom: 10px;
}

div.top-links a {
	background-color: #F81ED2;
	color: #ffffff;
	padding: 2px 8px;
	margin-bottom: 4px;
	display: inline-block;
}

div.top-links a:hover {

}

div.notes-container {
	clear: both;
	font-size: 0px;
}

div.note-card {
	font-size: 16px;
	position: relative;
	background-color: #eee;
	width: 150px;
	height: 150px;
	/*float: left;*/
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: default;
}

div.note-card:hover {
	background-color: #fff;
}

div.note-card a.caption {
	color: #313131;
}

div.note-card a.edit-link {
	position: absolute;
	bottom: 3px;
	right: 3px;
	color: #ddd;
	-webkit-user-select: none;
}

div.note-card a.edit-link:hover {
	color: #313131;
}
