* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Kalam', cursive;
	font-size: 16px;
	background-image: url('/static/linedpaper.png');
}

a {
	text-decoration: none;
	color: #4477aa;
}

input, select, textarea {
	outline: none;
	font-family: 'Kalam', cursive;
	font-size: 16px;
}

div.wrapper {
	width: 100%;
	position: relative;
	height: 100%;
	box-sizing: border-box;
	padding-top: 39px;
	padding-left: 50px;
}

div#corner {
	background-image: url('/static/corner.png');
	position: absolute;
	width: 64px;
	height: 64px;
	right: 0px;
	top: 0px;
}

div.top-links {
	border-bottom: 2px dotted #dd4444;
	margin-right: 100px;
	margin-bottom: 10px;
}

div.top-links a {
	background-color: #F81ED2;
	color: #ffffff;
	padding: 2px 8px;
	margin-bottom: 4px;
	display: inline-block;
}

div.top-links a:hover {

}
