{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Defter</title>
	<link href='https://fonts.googleapis.com/css?family=Kalam&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/defter.css">
	<script src="/static/js/defter.js"></script>
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
	<div class="wrapper">
		<div id="corner"></div>
		<div class="top-links">
			<a href="/">Indeks</a>
			<a href="/new">Yeni</a>
			<form method="get" action="/search" class="search-form">
				<input type="text" name="query" id="query">
			</form>
		</div>
		{{template "body" .}}
	</div>
</body>
</html>
{{end}}
